PORT=4300
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/SEU_ID/exec
QUIZ_DATA_DIR=./data
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_LEADS_TABLE=quiz_leads
SUPABASE_CLICKS_TABLE=quiz_clicks
